body {
  background-color: #faf2f2;
}

h1 {
  color: #e19999;
}

h3 {
  color: #e19999;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
